<!-- <p>material-example works!</p>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>

<p>Progress Bar Example</p>

<mat-progress-bar mode="buffer"></mat-progress-bar>

<p>
    Mat Spinner 
</p>

<mat-spinner></mat-spinner>

<p>Tool Tip</p>

<button mat-raised-button
        matTooltip="This is the button It will perform an action when we click on this."
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button> -->
<div class="main-div">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
 <p>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="firstName" formControlName="firstName" type="text">
      <mat-hint>This is hint</mat-hint>
    </mat-form-field>
    <span *ngIf="firstName.invalid">firstName Is required</span>
    </p>
    <p>
    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="lastname" type="text" formControlName="lastName">
        <mat-hint>This is hint</mat-hint>
      </mat-form-field>
    </p><p>
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="address" type="text" formControlName="address">
        <mat-hint>This is hint</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input matInput placeholder="age" type="number" min="1" max="99" maxlength="2" formControlName="age" >
        <mat-hint>Age</mat-hint>
      </mat-form-field>
  </p>
  <mat-form-field appearance="outline">
    <mat-label>Gender</mat-label>
    <mat-select multiple formControlName="gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
      <mat-option value="Others">Others</mat-option>
    </mat-select>
  </mat-form-field>

  <section class="example-section">
    <mat-checkbox class="example-margin">Checked</mat-checkbox>
    <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
  </section>

    <div class="example-button-row">
      <button mat-button color="primary" mat-raised-button>Submit</button>
      <button mat-button color="accent">Cancel</button>
    </div>
</form>
</div>
