 <!--  tool bar Start -->
 <div>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span> 
      <span class="example-spacer"></span>
      <button mat-button routerLink="/inlineexample">Inline CSS</button>
    <button mat-button  routerLink="/materialexample">Material</button>
    <button mat-button  routerLink="/loop">Iterator</button>
    <button mat-button  routerLink="/rd">Routing Details</button>
    <button mat-button  routerLink="/dashboard">Dashboard</button>
    <button mat-raised-button (click)="openDialog()">Add User</button> 
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button> -->

      <button mat-icon-button routerLink="/dashboard">
         <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </button>
   


    </mat-toolbar>
<!-- tool bar end  -->
  </div>

  <!-- <mat-drawer-container class="example-container" [hasBackdrop]="hasBackdrop.value">
    <mat-drawer #drawer [mode]="mode.value">I'm a drawer</mat-drawer>
    <mat-drawer-content>
      <mat-form-field>


        <mat-label>Sidenav mode</mat-label>
        <mat-select #mode value="side">
          <mat-option value="side">Side</mat-option>
          <mat-option value="over">Over</mat-option>
          <mat-option value="push">Push</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Has backdrop</mat-label>
        <mat-select #hasBackdrop>
          <mat-option>Unset</mat-option>
          <mat-option [value]="true">True</mat-option>
          <mat-option [value]="false">False</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="drawer.toggle()">Toggle drawer</button>
    </mat-drawer-content>
  </mat-drawer-container> -->